@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

:root{
    --font1:'Bebas Neue', cursive;
    --font2:'Montserrat', sans-serif;
}
*{
    font-family: var(--font1);
}
body{
    min-height: 200vh;
    padding-top: 60px;
    background-color: #050025;
}
                    /* HEADER */
#navbar{
    background-color: #050025;
    
    
   
}
.navbar-brand img{
    height: 40px;
}
#mycontainer{
    max-width: 1100px;

}
#separador_redes img{
    border-left:1px solid white ;
    border-right: 1px solid white;
}
.dropdown-toggle::after{
    content: none;
}
#header{
    background-color: #050025
}
.efecto_hover_subrayado{
    position: relative;
}    
.efecto_hover_subrayado::before{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #0163AF;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition:all .3s;
}
.efecto_hover_subrayado:hover::before{
    width: 100%;
    left: 0;
}

                      /* /HEADER */

                      /* SLIDER */
                     
    .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.6s opacity;

}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}   
#la-imagen{
    height: 340px;
    padding-top: 10%;
}
#slider-contenido{
    color: white;
    margin-top: 5%;
    margin-left: 1%;
}
#slider-contenido > p{
    font-family:var(--font2) ;
    line-height: 25px;
}
#slider-contenido > button{
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}
#texto-slider{
    font-size: 15px;
    width: 90%;
}
#link-slider{
    color: white;
    text-decoration: none;
    
   
}
#link-slider::after{
    content: url(./img/icon/flecha.svg);
    padding-left: 10px;
    position: relative;
    bottom: -2px;

}
#link-slider:hover::after{
    padding-left: 15px;
    transition: ease-in-out .3s;
}

.carousel-indicators{
    right: 12%;
    left: unset;
}
 /* BOTONES DE SLIDER */
#anterior,#siguiente{
    bottom: 0;
    top: unset;
    width: unset;
    position: absolute;
}
#anterior{
right: 0;
left: unset
;
}
#siguiente{
bottom: 40px;

   
}
#la-imagen1{
    width: 100%;
    max-height: 400px;
}
#imagen-siguiente{
    background-image: url(./img/icon/direccion.png);
    width: 40px;
    height: 40px;
}
#imagen-anterior{
    background-image: url(./img/icon/direccion.png);
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
}
#fondo-row{
    background-color: #06012D;
    position: relative;
    min-height: 400px;
    margin-top: 3%;
}
/* /BOTONES DE SLIDER */
                      /* /SLIDER */
                      /* SERVICIOS SECTION */



.service-main{
    width: 100%;
    min-height: 500px;
    background-color: #06012D;
    margin-top: 5%;
    padding-bottom: 5%;
}
#titulo-servicios{
    color: white;
    font-size: 2rem;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: -2%;
   
}
#titulo-servicios::after{
    content: "";
    width: 100%;
    background: white;
    height: 2px;
    position: absolute;
    bottom: 0;
    display: block;
}
.card{
    background-color:#050025;
    color: white;
    width: 20rem;
}
.card:hover{
    cursor: pointer;
}
.card-head{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-head> img{
    width: 50%;
    height: 50%;
    margin-bottom: -10%;
}
#tarjeta-texto{
    font-family: var(--font2);
    font-size: .8rem;
    font-weight: 400;
    
}
.card{
    margin: auto;
}
.service-main a{
    text-decoration: none;
}
.efecto_hover_subrayado2{
    position: relative;
}    
.efecto_hover_subrayado2::before{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: #0163AF;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition:all .3s;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.efecto_hover_subrayado2:hover::before{
    width: 100%;
    left: 0;
}

                     /* /SERVICIOS SECTION */
                     /* CONFIAN EN NOSOTROS SECTION */

.confianza-section{
    width: 100%;
    min-height: 300px;
    background: #050025;
    margin-bottom: 5%;
}
.swiper-container {
    width: 100%;
    height: 200px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    cursor:pointer;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide> img{
      width: 50%;
  }
                     /* /CONFIAN EN NOSOTROS SECTION */


                      /* FOOTER */
#footer{
    background: #000;;
}
#footer h4{
    color: white;
    text-decoration: none;
    font-family: var(--font2);
    font-size: 14px;

}
#footer a{
    color: white;
    text-decoration: none;
    font-family: var(--font2);

}
#footer-mid{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#formulario_email::placeholder{
    text-align: center;
    font-family: var(--font2);
}
#formulario_email{
    font-family:var(--font2); 
}
#boton-footer{
    font-family: var(--font2);
    font-size: 17px;
}
#redirecion-footer{
    font-size: 10px;
    color: darkgray!important;
}
#titulo{
    display: block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;

    
}
#contenido{
    font-size: 18px;
}

                           /* /FOOTER */

@media (max-width: 768px){
    #footer-mid{
       border:none;
    } 
    .efecto_hover_subrayado::before{
        content: none;
    }
    #fondo-row {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    #texto-slider{
        font-size: 15px;
        width: 100%;
    }
    #la-imagen1{
       
        
     
     }
    #la-imagen{
       max-width: 65%;
        padding-top: unset;
        padding-bottom: 15%;
    
    }

    #slider-contenido{
        margin-bottom: 10%;
        margin-left: unset;
    }
    #slider-contenido > h1 {
        font-size: 2.3rem;
    }
    .carousel-indicators{
        right: 0;
        left: 0;
    }
    #mitad-imagen{
        height: 270px;
    }
    .card{
        margin: auto;
    }
   
}

@media (max-width: 576px){
    #slider-contenido{
        margin-bottom: 20%;
    }
    #anterior{
        right: unset;
        left: 0
        ;
        }
        #siguiente{
        bottom: 0;
        
           
        }
        #fondo-row {
           
            width: unset;
            
        }
        .card{
            margin: auto;
        }
        
}